@import './common/common.module';

.root {
  box-sizing: border-box;
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 1vmin);
  color: black;
  overflow: hidden;
  padding-top: $commandBar-height;
}

.pageContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: $commandBar-height;
  @include customScrollbar;
  scroll-behavior: smooth;
}

.pageWrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: $page-max-width;
  min-height: calc(100vh - #{$commandBar-height});
}